html    {
    height: 100%;
}

body    {
    height: calc(100vh - 164px);
    font-family: 'Lato';
}

.icon   {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.font-for-brand {
    text-transform: uppercase;
}

