html    {
    height: 100%;
}

body    {
    height: calc(100vh - 164px);
    font-family: 'Lato';
    background-color: #ffffff !important;
}

.icon   {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-success{
    background-color: 	#008322 !important;
}

.custom-product-active{
    background-image: linear-gradient(180deg, rgba(0, 4, 36, 0.336) 0%, rgba(225,225,254,0.7903536414565826) 47%, rgba(0,254,255,0) 100%) !important;
}

.form-group{
    margin-bottom: 10px;
}

.toast-icons{
    width: 15px;
    height: 15px;
}



.footer{
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 15%, rgb(0, 0, 0) 100%);
}

.footer a{
    text-decoration: none !important;
    color: black !important;
    font-size: 2.5rem;
}

.copyright{
    color: white;
}

div.carousel-text-div{
    background-color: rgba(0, 0, 0, 0.45) !important;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

/* nav bar style */

.mobile-nav-bar{
    width: 100%;
}

.price-and-tittle-mobile{
    text-align: end;
}

.font-for-brand {
    text-transform: uppercase;
}

.background-nav{
    background-color: #ff9d3d;
}

.bag-badge{
    position: relative;
    top: 5px;
    left: 10px;
    font-size: 0.5rem;
}

.desktop-item-nav{
    display: none;
}

#list-nav-bar-mobile{
    min-width: 280px;
    margin-top: 5px !important;
}

#bag-icon-mobile{
    padding: 0px;
}

@media only screen and (min-width: 992px) {
    .mobile-nav-bar {
        display: none;
    }
    .desktop-item-nav{
        display: inline;
    }
  }

@media only screen and (max-width: 500px) {
    .total-in-mobile{
        display: none !important;
    }
}

/* -------------- */

