{% extends "base.html" %}

{% load static %}



{% block content %}

    <div class="container my-5">
        <div class="row justify-content-start">
            <div class="col-xs-12 col-md-6">
        
                <div class="card mb-3">
                    <img src="{{product.image_url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">{{ product.name }}</h4>
                      <p class="card-text"><strong>Description:</strong><br>{{ product.description }}</p>
                      <p class="card-text"><strong>£</strong>{{ product.price }}</p>
                    {% if plan != False %}
                      <p><strong>Number of weeks</strong>: {{ plan.number_of_weeks }}</p>
                      <p class="card-text"><small class="text-muted">Type of Plan:( {{ type_of_plan.get_friendly_name }} )</small></p>
                    {% endif %}
                      
                    </div>
                  </div>
            </div>

        </div>
    </div>

{% endblock %}
