{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-start">
            <div class="col-6">
        
                <div class="card mb-3">
                    <img src="{{product.image_url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>
                      <p class="card-text">{{ product.price }}</p>
                    {% if plan != False %}
                      <p>Number of weeks: {{ plan.number_of_weeks }}</p>
                      <p class="card-text"><small class="text-muted">Type of Plan: {{ plan.kind_of_plan }}</small></p>
                    {% endif %}
                      
                    </div>
                  </div>
            </div>

        </div>
    </div>

{% endblock %}
