{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-start">
            {% for product in products %}
            <div class="col-xm-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 gy-3">
                <div class="card" style="width: 100%;">
                    <a href="{% url 'product_detail' product_id=product.pk %}"><img src="{{ product.image_url }}" class="card-img-top" alt="..."></img></a>
                    <div class="card-body">
                      <h5 class="card-title text-truncate">{{ product.name }}</h5>
                      <p class="card-text text-truncate">{{ product.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><strong class="mx-2">£</strong>{{ product.price }}</li>
                      <li class="list-group-item"><i class="fas fa-star mx-2"></i>{{ product.rating }}/5</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link btn btn-success">Add</a>
                      <a href="{% url 'product_detail' product_id=product.pk %}" class="card-link btn btn-success">Details</a>
                      
                    </div>
                  </div>
            </div> 
            {% endfor %}           
        </div>
    </div>

{% endblock %}
